<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cosmos manager</title>
    <style>
        span.b {
            display: inline-block;
            vertical-align: top;
            width: 350px;
            height: 600px;
            padding: 10px;
            border: 1px solid black;
            background-color: blue;
        }
    </style>

</head>
<body>
<h3><p th:text="${message}">a </p></h3>
<br>
<a href="reservation.html"> Złóż rezerwacje </a>
<br>
===========================================================================================
<br>
<span class="b">
<h1>Add Tourist:</h1>
<form th:action="@{/tourists}" th:object="${modelTourist}" method="post">
    <p><label>
        <input type="text" th:field="*{firstName}" placeholder="First name" />
    </label></p>
    <p><label>
        <input type="text" th:field="*{lastName}" placeholder="Last name" />
    </label></p>

    <p>Please select your gender:</p>
    <input type="radio" id="male" th:field="*{gender}" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" th:field="*{gender}" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="other" th:field="*{gender}" value="other">
    <label for="other">Other</label>

    <p><input type="text" th:field="*{country}" placeholder="Country"> </p>

    <p><input type="text" th:field="*{notes}" placeholder="Notes..."> </p>

    <p><input type="date" th:field="*{dateOfBirth}"></p>

    <p><input type="submit" value="Add Tourist" /></p>
</form>

<a th:href="@{/tourists}">Zobacz klientów</a>
</span>

<span class="b">
<h1>Add Flight: </h1>
    <form th:action="@{/flights}" th:object="${modelFlight}" method="post">
        <p><label>
            <input type="date" th:field="*{startDate}">
        </label></p>
        <p><label>
            <input type="time" th:field="*{startTime}">
        </label></p>
        <p><label>
            <input type="date" th:field="*{endDate}">
        </label></p>
        <p><label>
            <input type="time" th:field="*{endTime}">
        </label></p>
        <p><label>
            <input type="number" th:field="*{numberOfSeats}">
        </label></p>
        <p><label>
            <input type="number" th:field="*{ticketPrice}">
        </label></p>
        <p><input type="submit" value="Add Flight" /></p>
    </form>
<a th:href="@{/flights}">Pokaż loty</a>
    </span>
</body>
</html>