<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TouristsList</title>
</head>
<body>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Date of birth</th>
            <th>Notes</th>
            <th>Flights</th>
        </tr>
        <tr th:each="tourist: ${tourists}">
            <td th:text="${tourist.firstName}"> </td>
            <td th:text="${tourist.lastName}"></td>
            <td th:text="${tourist.gender}"></td>
            <td th:text="${tourist.country}"> </td>
            <td th:text="${tourist.dateOfBirth}"></td>
            <td th:text="${tourist.notes}"></td>
            <td th:text="${tourist.flights}"></td>
        </tr>
    </table>

    <br>
    <a th:href="@{/}">Homepage</a>
</body>
</html>